{
    "cards": [
        {
            "url": "https://www.cardmarket.com/this-is-a-template",
            "language": "English",
            "price": "XX",
            "country": "Spain"
        },
    ] 
}
